<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= @game.player1.name %> vs <%= @game.player2.name %>
    <%= @game.player1.name %>: <%= @game.player1.hit_points %>HP
    <%= @game.player2.name %>: <%= @game.player2.hit_points %>HP
    <%= @game.current_turn.name %>'s turn
    <a href="/attack">Attack</a>
  </body>
</html>
